<div class="error-page">

  <h2 class="headline text-warning"> 404</h2>

  <div class="error-content">
    <h3><i class="fas fa-exclamation-triangle text-warning mr-1"></i>¡Ups! Página no encontrada.</h3>
    <p>
      No pudimos encontrar la página que estabas buscando. 
      Mientras tanto, puede <a routerLink="/">volver al panel de control</a> o intentar usar el formulario de búsqueda.
    </p>
    <form class="search-form">
      <div class="input-group">
        <input type="text" name="search" class="form-control" placeholder="Buscar">

        <div class="input-group-append">
          <button type="button" name="button" class="btn btn-warning">
            <i class="fas fa-search"></i>
          </button>
        </div>
      </div>
    </form>
  </div>

</div>